[user]
	email = twcmchang@gmail.com
	name = twcmchang
[alias]
	last = log -1 HEAD
	unadd = reset HEAD --
	amend = commit --amend
	st = status
	br = branch
	ci = commit
	co = checkout
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	cob = checkout -b
	undo = reset HEAD~1 --mixed
